../../-1.14-windows.xml
        ../../.android/
        ../../.bash_history
        ../../.dotnet/
        ../../.emulator_console_auth_token
        ../../.gitconfig
        ../../.gradle/
        ../../.idlerc/
        ../../.ipynb_checkpoints/
        ../../.ipython/
        ../../.jupyter/
        ../../.lesshst
        ../../.librarymanager/
        ../../.m2/
        ../../.node_repl_history
        ../../.nuget/
        ../../.ssh/
        ../../.vscode/
        ../../.wdm/
        ../../3D Objects/
        ../../AndroidStudioProjects/
        ../../AppData/
        ../../Contacts/
        ../../Currency%20Exchange/
        ../../CurrencyExchanges/
        ../
        ../../Documents/AC01TestUnitario/
        ../../Documents/AC4UX.docx
        ../../Documents/Ac01TestUnitario.docx
        ../../Documents/Ac2.docx
        "../../Documents/Apresenta\303\247\303\243o1.pptx"
        ../../Documents/Arquivos do Outlook/
        ../../Documents/Atividade4.docx
        ../../Documents/AulaBD/
        ../../Documents/Beecrowd/
        ../../Documents/Bootcamp/
        ../../Documents/CONFIG_FIFA.txt
        ../../Documents/Call of Duty/
        ../../Documents/Conversor de Moeda/
        ../../Documents/Conversor de Moedas.txt
        ../../Documents/CurrencyExchange/
        ../../Documents/DashBoardVendas.pbix
        ../../Documents/DiagramaDeployment.docx
        ../../Documents/Duvidas UX.txt
        ../../Documents/EmailPowerBI.txt
        ../../Documents/EstruturaDjango/
        ../../Documents/FIFA 23/
        ../../Documents/FazerCafe.txt
        ../../Documents/HMLFASTRIP/
        ../../Documents/IISExpress/
        ../../Documents/JavaScriptCursoVideo/
        ../../Documents/KONAMI/
        ../../Documents/LinkBoard.txt
        ../../Documents/Livros/
        ../../Documents/MindsetFixo.docx
        ../../Documents/My Games/
        ../../Documents/My Web Sites/
        ../../Documents/OKRS.xlsx
        ../../Documents/Projetinho/
        ../../Documents/ProvaPacheco.txt
        ../../Documents/QUERYAULA/
        ../../Documents/RepositorioAzure/FasTrip-Tela/
        ../../Documents/Rockstar Games/
        ../../Documents/Selenium/
        ../../Documents/TesteUnitario/
        ../../Documents/UpStreamDraw.drawio
        ../../Documents/Upstream2.txt
        "../../Documents/Vari\303\241vel Quantidade.docx"
        ../../Documents/Visual Studio 2022/
        ../../Documents/ac2.pdf
        ../../Documents/ac2modelagem.pdf
        ../../Documents/carregamento.txt
        ../../Documents/certezas.txt
        ../../Documents/createTable.txt
        ../../Documents/deman-siu.txt
        ../../Documents/desktop.ini
        ../../Documents/df_cdrone.txt
        ../../Documents/drawid01.drawio
        ../../Documents/ideaisUpstream.txt
        ../../Documents/inicializar_django.txt
        ../../Documents/insertLocais.txt
        ../../Documents/insertPontosTuristicos.sql
        ../../Documents/kanban.txt
        ../../Documents/livroBnaco.txt
        ../../Documents/local-jupyter.txt
        ../../Documents/logasviahttps.txt
        ../../Documents/pandas.txt
        ../../Documents/pandas2.txt
        ../../Documents/pandas3.txt
        ../../Documents/personaJovens.txt
        ../../Documents/protocoloNetShoes.txt
        ../../Documents/python/
        ../../Documents/questoesAnaliseDados.txt
        ../../Documents/requisitos.txt
        ../../Documents/teste.txt
        ../../Downloads/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        ../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../Projetos/
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../anaconda3/
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../py
        ../../source/
        ../../viagem/
